.containers{
    background-color: #FAFAFA;
    width: 1242px;
    height: 400px;
    margin-top: 88px;
    margin-left: 49px;
}

.menu p{
    margin-left: 20px;
    font-size: 27px;
    border-bottom: 1px solid;
}

.containers-listBook{
    width: 1241px;
    height: 335px;
}

.listBook{
    width: 1029px;
    height: 322px;
    float: left;
}

.motSach a{
    color: black;
    margin-left: 40px;
    margin-top: 10px;
}

.ctrlPage{
    margin-left: 1038px;
    margin-top: -60px;
    float: left;

}
