body{
    width: 300px;
    margin-left: 529px;
}

h1{
    margin-top: 59px;
    margin-left: 55px;
    margin-bottom: 30px;
}

input[type=text], input[type=password], input[type=confirmPassword]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

span{
    margin-left: -26px;
}